:root {
  --bg: #f4f8ff;
  --card: #ffffff;
  --text: #1e293b;
}

/* MAIN */

.main {
  flex: 1;
  padding: 2rem 3rem;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* CARDS */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  height: 120px;
  background: var(--card);
  border-radius: 15px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.empty {
  margin-top: 50px;
  border: 2px dashed #cbd5f5;
  padding: 60px;
  text-align: center;
  border-radius: 20px;
  color: #64748b;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}
